$color-primary: #e4ddcf;
$color-secundary: #1e1e1e;

.Home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;

    /* Triangle background
    &::before {
        content: '';
        position: absolute;
        bottom: 40%;
        left: 50%;
        border-style: solid;
        border-width: 0 9.375rem 30vh 9.375rem;
        border-color: transparent transparent $color-background transparent;
        z-index: 1;
        transform: translateX(-50%) rotate(180deg);
        -webkit-transform: translateX(-50%) rotate(180deg);
        -moz-transform: translateX(-50%) rotate(180deg);
        -ms-transform: translateX(-50%) rotate(180deg);
        -o-transform: translateX(-50%) rotate(180deg);
    }
    @media (min-width: 1200px) {
        &::before {
            bottom: 30%;
            left: 50%;
            border-width: 0 15.625rem 40vh 15.625rem;
        }
    }
*/

    &-p {
        font-size: 4rem;
        color: $color-primary;
        z-index: 1;
        @media (max-width: 768px) {
            font-size: 2rem;
        }
    }
}
