$color-primary: #e4ddcf;
$color-secundary: #1e1e1e;
$sm: 768px;

.Home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        bottom: 40%;
        border-style: solid;
        border-width: 0 9.375rem 30vh 9.375rem;
        border-color: transparent transparent $color-primary transparent;
        z-index: 1;
        -webkit-animation: rotate-center 20s linear infinite both;
        animation: rotate-center 20s linear infinite both;
        transform: translateX(-50%) rotate(180deg);
        -webkit-transform: translateX(-50%) rotate(180deg);
        -moz-transform: translateX(-50%) rotate(180deg);
        -ms-transform: translateX(-50%) rotate(180deg);
        -o-transform: translateX(-50%) rotate(180deg);
    }

    @media (min-width: $sm) {
        &::before {
            bottom: 30%;
            left: 50%;
            border-width: 0 15.625rem 40vh 15.625rem;
        }
    }

    &-p {
        position: relative;
        font-size: 4rem;
        padding-bottom: 5rem;
        z-index: 2;
        mix-blend-mode: difference;
        color: $color-primary;
        -webkit-animation: text-flicker-in-glow 4s linear both;
        animation: text-flicker-in-glow 4s linear both;

        @media (max-width: $sm) {
            font-size: 2.5rem;
            padding-bottom: 7rem;
        }
    }

    //animation text-flicker-in-glow
    @-webkit-keyframes text-flicker-in-glow {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 0;
            text-shadow: none;
        }
        10.1% {
            opacity: 1;
            text-shadow: none;
        }
        10.2% {
            opacity: 0;
            text-shadow: none;
        }
        20% {
            opacity: 0;
            text-shadow: none;
        }
        20.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
        }
        20.6% {
            opacity: 0;
            text-shadow: none;
        }
        30% {
            opacity: 0;
            text-shadow: none;
        }
        30.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.5% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.6% {
            opacity: 0;
            text-shadow: none;
        }
        45% {
            opacity: 0;
            text-shadow: none;
        }
        45.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        50% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55.1% {
            opacity: 0;
            text-shadow: none;
        }
        57% {
            opacity: 0;
            text-shadow: none;
        }
        57.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60.1% {
            opacity: 0;
            text-shadow: none;
        }
        65% {
            opacity: 0;
            text-shadow: none;
        }
        65.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
                0 0 100px rgba(255, 255, 255, 0.1);
        }
        75% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
                0 0 100px rgba(255, 255, 255, 0.1);
        }
        75.1% {
            opacity: 0;
            text-shadow: none;
        }
        77% {
            opacity: 0;
            text-shadow: none;
        }
        77.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
                0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
                0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85.1% {
            opacity: 0;
            text-shadow: none;
        }
        86% {
            opacity: 0;
            text-shadow: none;
        }
        86.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
                0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        100% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
                0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
    }
    @keyframes text-flicker-in-glow {
        0% {
            opacity: 0;
        }
        10% {
            opacity: 0;
            text-shadow: none;
        }
        10.1% {
            opacity: 1;
            text-shadow: none;
        }
        10.2% {
            opacity: 0;
            text-shadow: none;
        }
        20% {
            opacity: 0;
            text-shadow: none;
        }
        20.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
        }
        20.6% {
            opacity: 0;
            text-shadow: none;
        }
        30% {
            opacity: 0;
            text-shadow: none;
        }
        30.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.5% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        30.6% {
            opacity: 0;
            text-shadow: none;
        }
        45% {
            opacity: 0;
            text-shadow: none;
        }
        45.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        50% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
        }
        55.1% {
            opacity: 0;
            text-shadow: none;
        }
        57% {
            opacity: 0;
            text-shadow: none;
        }
        57.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
        }
        60.1% {
            opacity: 0;
            text-shadow: none;
        }
        65% {
            opacity: 0;
            text-shadow: none;
        }
        65.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
                0 0 100px rgba(255, 255, 255, 0.1);
        }
        75% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
                0 0 100px rgba(255, 255, 255, 0.1);
        }
        75.1% {
            opacity: 0;
            text-shadow: none;
        }
        77% {
            opacity: 0;
            text-shadow: none;
        }
        77.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
                0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
                0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        85.1% {
            opacity: 0;
            text-shadow: none;
        }
        86% {
            opacity: 0;
            text-shadow: none;
        }
        86.1% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
                0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
        100% {
            opacity: 1;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
                0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
        }
    }
}

//animation rotate-center
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}